@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 20% 97%;
    --foreground: 227 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 227 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 227 10% 20%;
    --primary: 227 36% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 211 20% 91%;
    --secondary-foreground: 227 10% 9%;
    --muted: 211 20% 91%;
    --muted-foreground: 227 10% 45%;
    --accent: 278 32% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 20% 88%;
    --input: 211 20% 88%;
    --ring: 278 32% 52%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 227 10% 10%;
    --foreground: 211 20% 97%;
    --card: 227 10% 15%;
    --card-foreground: 211 20% 97%;
    --popover: 227 10% 15%;
    --popover-foreground: 211 20% 97%;
    --primary: 211 57% 62%;
    --primary-foreground: 227 10% 10%;
    --secondary: 227 10% 25%;
    --secondary-foreground: 211 20% 97%;
    --muted: 227 10% 25%;
    --muted-foreground: 211 20% 60%;
    --accent: 278 32% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 10% 25%;
    --input: 227 10% 25%;
    --ring: 211 57% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-16 md:py-24 lg:py-28;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-headline;
  }
}
